In [2]:
df <- read.csv('/content/Pokemon.csv')

In [11]:
tail(df)

    X.  Name                Type.1  Type.2 Total HP  Attack Defense Sp..Atk
795 718 Zygarde50% Forme    Dragon  Ground 600   108 100    121      81
796 719 Diancie             Rock    Fairy  600    50 100    150     100
797 719 DiancieMega Diancie Rock    Fairy  700    50 160    110     160
798 720 HoopaHoopa Confined Psychic Ghost  600    80 110     60     150
799 720 HoopaHoopa Unbound  Psychic Dark   680    80 160     60     170
800 721 Volcanion           Fire    Water  600    80 110    120     130
    Sp..Def Speed Generation Legendary
795  95      95   6          True
796 150      50   6          True
797 110     110   6          True
798 130      70   6          True
799 130      80   6          True
800  90      70   6          True

In [5]:
missing_counts <- colSums(is.na(df))
print(missing_counts)

        X.       Name     Type.1     Type.2      Total         HP     Attack
         0          0          0          0          0          0          0
   Defense    Sp..Atk    Sp..Def      Speed Generation  Legendary
         0          0          0          0          0          0

In [14]:
library(dplyr)

legendary <- df[df$Legendary == 'True', ]

print(dim(legendary))
head(legendary)

[1] 65 13

    X.  Name                Type.1   Type.2   Total HP  Attack Defense Sp..Atk
157 144 Articuno            Ice      Flying   580    90  85    100      95
158 145 Zapdos              Electric Flying   580    90  90     85     125
159 146 Moltres             Fire     Flying   580    90 100     90     125
163 150 Mewtwo              Psychic           680   106 110     90     154
164 150 MewtwoMega Mewtwo X Psychic  Fighting 780   106 190    100     154
165 150 MewtwoMega Mewtwo Y Psychic           780   106 150     70     194
    Sp..Def Speed Generation Legendary
157 125      85   1          True
158  90     100   1          True
159  85      90   1          True
163  90     130   1          True
164 100     130   1          True
165 120     140   1          True

In [15]:
legendary <- df[df$Legendary == 'False', ]

print(dim(legendary))
head(legendary)

[1] 735  13

  X. Name                  Type.1 Type.2 Total HP Attack Defense Sp..Atk
1 1  Bulbasaur             Grass  Poison 318   45  49     49      65
2 2  Ivysaur               Grass  Poison 405   60  62     63      80
3 3  Venusaur              Grass  Poison 525   80  82     83     100
4 3  VenusaurMega Venusaur Grass  Poison 625   80 100    123     122
5 4  Charmander            Fire          309   39  52     43      60
6 5  Charmeleon            Fire          405   58  64     58      80
  Sp..Def Speed Generation Legendary
1  65     45    1          False
2  80     60    1          False
3 100     80    1          False
4 120     80    1          False
5  50     65    1          False
6  65     80    1          False

In [18]:
types <- unique(df$Type.1)
types

 [1] "Grass"    "Fire"     "Water"    "Bug"      "Normal"   "Poison"
 [7] "Electric" "Ground"   "Fairy"    "Fighting" "Psychic"  "Rock"
[13] "Ghost"    "Ice"      "Dragon"   "Dark"     "Steel"    "Flying"

In [24]:
# Assuming you have already loaded the necessary library (e.g., dplyr)
library(dplyr)

# Create a new column "Name_nospace"
df <- df %>% mutate(Name_nospace = gsub(" ", "", Name))

In [25]:
# Create a new column "name_count"
df <- df %>% mutate(name_count = nchar(Name_nospace))

# Create a new column "long_name"
df <- df %>% mutate(long_name = name_count >= 10)

In [28]:
# Create a new column "name_isalpha"
df <- df %>% mutate(name_isalpha = sapply(Name_nospace, function(i) grepl("^[A-Za-z]+$", i)))

# Display the first few rows
head(df)

  X. Name                  Type.1 Type.2 Total HP Attack Defense Sp..Atk
1 1  Bulbasaur             Grass  Poison 318   45  49     49      65
2 2  Ivysaur               Grass  Poison 405   60  62     63      80
3 3  Venusaur              Grass  Poison 525   80  82     83     100
4 3  VenusaurMega Venusaur Grass  Poison 625   80 100    123     122
5 4  Charmander            Fire          309   39  52     43      60
6 5  Charmeleon            Fire          405   58  64     58      80
  Sp..Def Speed Generation Legendary Name_nospace         name_count long_name
1  65     45    1          False     Bulbasaur             9         FALSE
2  80     60    1          False     Ivysaur               7         FALSE
3 100     80    1          False     Venusaur              8         FALSE
4 120     80    1          False     VenusaurMegaVenusaur 20          TRUE
5  50     65    1          False     Charmander           10          TRUE
6  65     80    1          False     Charmeleon           10          TRUE
  name_isalpha
1 TRUE
2 TRUE
3 TRUE
4 TRUE
5 TRUE
6 TRUE

In [30]:
# Check the shape
non_alpha_shape <- dim(df[df$name_isalpha == FALSE, ])

# Display the subset of rows
non_alpha_subset <- df[df$name_isalpha == FALSE, ]

non_alpha_shape
non_alpha_subset

[1] 10 17

    X.  Name             Type.1  Type.2 Total HP  Attack Defense Sp..Atk
35   29 Nidoran♀         Poison         275    55  47     52      40
38   32 Nidoran♂         Poison         273    46  57     40      40
91   83 Farfetch'd       Normal  Flying 352    52  65     55      58
132 122 Mr. Mime         Psychic Fairy  460    40  45     65     100
253 233 Porygon2         Normal         515    85  80     90     105
271 250 Ho-oh            Fire    Flying 680   106 130     90     110
488 439 Mime Jr.         Psychic Fairy  310    20  25     45      70
526 474 Porygon-Z        Normal         535    85  80     70     135
738 669 Flabébé          Fairy          303    44  38     39      61
795 718 Zygarde50% Forme Dragon  Ground 600   108 100    121      81
    Sp..Def Speed Generation Legendary Name_nospace    name_count long_name
35   40     41    1          False     Nidoran♀         8         FALSE
38   40     50    1          False     Nidoran♂         8         FALSE
91   62     60    1          False     Farfetch'd      10          TRUE
132 120     90    1          False     Mr.Mime          7         FALSE
253  95     60    2          False     Porygon2         8         FALSE
271 154     90    2          True      Ho-oh            5         FALSE
488  90     60    4          False     MimeJr.          7         FALSE
526  75     90    4          False     Porygon-Z        9         FALSE
738  79     42    6          False     Flabébé          7         FALSE
795  95     95    6          True      Zygarde50%Forme 15          TRUE
    name_isalpha
35  FALSE
38  FALSE
91  FALSE
132 FALSE
253 FALSE
271 FALSE
488 FALSE
526 FALSE
738 FALSE
795 FALSE

In [31]:
# Assuming you have already loaded the necessary library (e.g., dplyr)
library(dplyr)

# Replace values in the specified rows
df <- df %>%
  mutate(Name_nospace = ifelse(row_number() %in% c(34, 37, 90, 131, 252, 270, 487, 525, 794),
                              case_when(
                                Name_nospace == "Nidoran♀" ~ "Nidoran X",
                                Name_nospace == "Nidoran♂" ~ "Nidoran Y",
                                Name_nospace == "Farfetch'd" ~ "Farfetchd",
                                Name_nospace == "Mr. Mime" ~ "Mr Mime",
                                Name_nospace == "Porygon2" ~ "Porygon",
                                Name_nospace == "Ho-oh" ~ "Ho Oh",
                                Name_nospace == "Mime Jr." ~ "Mime Jr",
                                Name_nospace == "Porygon-Z" ~ "Porygon Z",
                                Name_nospace == "Zygarde50% Forme" ~ "Zygarde Forme",
                                TRUE ~ Name_nospace
                              ),
                              Name_nospace)
  )

# Display the specified rows
specified_rows <- df[df$Name_nospace %in% c("Nidoran X", "Nidoran Y", "Farfetchd", "Mr Mime",
                                             "Porygon", "Ho Oh", "Mime Jr", "Porygon Z", "Zygarde Forme"), ]

print(specified_rows)

     X.    Name Type.1 Type.2 Total HP Attack Defense Sp..Atk Sp..Def Speed
149 137 Porygon Normal          395 65     60      70      85      75    40
    Generation Legendary Name_nospace name_count long_name name_isalpha
149          1     False      Porygon          7     FALSE         TRUE

In [32]:
# Check the shape
non_alpha_shape <- dim(subset(df, name_isalpha == FALSE))

# Display the subset of rows
non_alpha_subset <- subset(df, name_isalpha == FALSE)

print(non_alpha_shape)
print(non_alpha_subset)

[1] 10 17
     X.             Name  Type.1 Type.2 Total  HP Attack Defense Sp..Atk
35   29         Nidoran♀  Poison          275  55     47      52      40
38   32         Nidoran♂  Poison          273  46     57      40      40
91   83       Farfetch'd  Normal Flying   352  52     65      55      58
132 122         Mr. Mime Psychic  Fairy   460  40     45      65     100
253 233         Porygon2  Normal          515  85     80      90     105
271 250            Ho-oh    Fire Flying   680 106    130      90     110
488 439         Mime Jr. Psychic  Fairy   310  20     25      45      70
526 474        Porygon-Z  Normal          535  85     80      70     135
738 669          Flabébé   Fairy          303  44     38      39      61
795 718 Zygarde50% Forme  Dragon Ground   600 108    100     121      81
    Sp..Def Speed Generation Legendary    Name_nospace name_count long_name
35       40    41          1     False        Nidoran♀          8     FALSE
38       40    50          1     False        Nidoran♂          8     FALSE
91       62    60          1     False      Farfetch'd         10      TRUE
132     120    90          1     False         Mr.Mime          7     FALSE
253      95    60          2     False        Porygon2          8     FALSE
271     154    90          2      True           Ho-oh          5     FALSE
488      90    60          4     False         MimeJr.          7     FALSE
526      75    90          4     False       Porygon-Z          9     FALSE
738      79    42          6     False         Flabébé          7     FALSE
795      95    95          6      True Zygarde50%Forme         15      TRUE
    name_isalpha
35         FALSE
38         FALSE
91         FALSE
132        FALSE
253        FALSE
271        FALSE
488        FALSE
526        FALSE
738        FALSE
795        FALSE

In [33]:
# Assuming you have already loaded the necessary library (e.g., dplyr)
library(dplyr)

# Create a new column "Name_nospace"
df <- df %>% mutate(Name_nospace = gsub(" ", "", Name))

# Create a new column "name_isalpha"
df <- df %>% mutate(name_isalpha = sapply(Name_nospace, function(i) grepl("^[A-Za-z]+$", i)))

# Subset of rows where "name_isalpha" is FALSE
non_alpha_subset <- df[df$name_isalpha == FALSE, ]

print(non_alpha_subset)

     X.             Name  Type.1 Type.2 Total  HP Attack Defense Sp..Atk
35   29         Nidoran♀  Poison          275  55     47      52      40
38   32         Nidoran♂  Poison          273  46     57      40      40
91   83       Farfetch'd  Normal Flying   352  52     65      55      58
132 122         Mr. Mime Psychic  Fairy   460  40     45      65     100
253 233         Porygon2  Normal          515  85     80      90     105
271 250            Ho-oh    Fire Flying   680 106    130      90     110
488 439         Mime Jr. Psychic  Fairy   310  20     25      45      70
526 474        Porygon-Z  Normal          535  85     80      70     135
738 669          Flabébé   Fairy          303  44     38      39      61
795 718 Zygarde50% Forme  Dragon Ground   600 108    100     121      81
    Sp..Def Speed Generation Legendary    Name_nospace name_count long_name
35       40    41          1     False        Nidoran♀          8     FALSE
38       40    50          1     False        Nidoran♂          8     FALSE
91       62    60          1     False      Farfetch'd         10      TRUE
132     120    90          1     False         Mr.Mime          7     FALSE
253      95    60          2     False        Porygon2          8     FALSE
271     154    90          2      True           Ho-oh          5     FALSE
488      90    60          4     False         MimeJr.          7     FALSE
526      75    90          4     False       Porygon-Z          9     FALSE
738      79    42          6     False         Flabébé          7     FALSE
795      95    95          6      True Zygarde50%Forme         15      TRUE
    name_isalpha
35         FALSE
38         FALSE
91         FALSE
132        FALSE
253        FALSE
271        FALSE
488        FALSE
526        FALSE
738        FALSE
795        FALSE

In [34]:
# Transform 'Type 1' using factor
df$Type.1 <- as.factor(df$Type.1)

# Check the levels before encoding
print(levels(df$Type.1))

# Use LabelEncoder equivalent in R
df$Type.1 <- as.numeric(df$Type.1) - 1

 [1] "Bug"      "Dark"     "Dragon"   "Electric" "Fairy"    "Fighting"
 [7] "Fire"     "Flying"   "Ghost"    "Grass"    "Ground"   "Ice"
[13] "Normal"   "Poison"   "Psychic"  "Rock"     "Steel"    "Water"
NULL

In [35]:
# Transform 'Type 2' using factor
df$Type.2 <- as.factor(df$Type.2)

# Check the levels before encoding
print(levels(df$Type.2))

# Use LabelEncoder equivalent in R
df$Type.2 <- as.numeric(df$Type.2) - 1

# Check the levels after encoding
print(levels(df$Type.2))

 [1] ""         "Bug"      "Dark"     "Dragon"   "Electric" "Fairy"
 [7] "Fighting" "Fire"     "Flying"   "Ghost"    "Grass"    "Ground"
[13] "Ice"      "Normal"   "Poison"   "Psychic"  "Rock"     "Steel"
[19] "Water"
NULL

In [37]:
head(df)

  X. Name                  Type.1 Type.2 Total HP Attack Defense Sp..Atk
1 1  Bulbasaur             9      14     318   45  49     49      65
2 2  Ivysaur               9      14     405   60  62     63      80
3 3  Venusaur              9      14     525   80  82     83     100
4 3  VenusaurMega Venusaur 9      14     625   80 100    123     122
5 4  Charmander            6       0     309   39  52     43      60
6 5  Charmeleon            6       0     405   58  64     58      80
  Sp..Def Speed Generation Legendary Name_nospace         name_count long_name
1  65     45    1          False     Bulbasaur             9         FALSE
2  80     60    1          False     Ivysaur               7         FALSE
3 100     80    1          False     Venusaur              8         FALSE
4 120     80    1          False     VenusaurMegaVenusaur 20          TRUE
5  50     65    1          False     Charmander           10          TRUE
6  65     80    1          False     Charmeleon           10          TRUE
  name_isalpha
1 TRUE
2 TRUE
3 TRUE
4 TRUE
5 TRUE
6 TRUE

In [38]:
# Convert 'Legendary' to factor and perform label encoding
df$Legendary <- as.numeric(as.factor(df$Legendary))

# Convert 'long_name' to factor and perform label encoding
df$long_name <- as.numeric(as.factor(df$long_name))

In [42]:
# Drop specified columns from the data frame
X <- df %>%
  select(-c(Name, Name_nospace, name_isalpha, Legendary))

# Select the 'Legendary' column
Y <- df$Legendary

In [45]:
head(X)

  X. Type.1 Type.2 Total HP Attack Defense Sp..Atk Sp..Def Speed Generation
1 1  9      14     318   45  49     49      65      65     45    1
2 2  9      14     405   60  62     63      80      80     60    1
3 3  9      14     525   80  82     83     100     100     80    1
4 3  9      14     625   80 100    123     122     120     80    1
5 4  6       0     309   39  52     43      60      50     65    1
6 5  6       0     405   58  64     58      80      65     80    1
  name_count long_name
1  9         1
2  7         1
3  8         1
4 20         2
5 10         2
6 10         2

In [52]:
    # Set the seed for reproducibility
    set.seed(15)

    # Generate random indices for the train-test split
    splitIndex <- sample(seq_len(nrow(X)), size = 0.8 * nrow(X))

    # Split the data into training and testing sets
    X_train <- X[splitIndex, ]
    Y_train <- Y[splitIndex]
    X_test <- X[-splitIndex, ]
    Y_test <- Y[-splitIndex]

    # Display the shape of the sets
    cat("Training set: ", dim(X_train), length(Y_train), "\n")
    cat("Testing set: ", dim(X_test), length(Y_test), "\n")

Training set:  640 13 640
Testing set:  160 13 160

In [54]:
X_test

    X.  Type.1 Type.2 Total HP  Attack Defense Sp..Atk Sp..Def Speed Generation
3     3  9     14     525    80  82     83     100     100      80   1
4     3  9     14     625    80 100    123     122     120      80   1
7     6  6      8     534    78  84     78     109      85     100   1
19   15  0     14     395    65  90     40      45      80      75   1
27   21 12      8     262    40  60     30      31      31      70   1
35   29 13      0     275    55  47     52      40      40      41   1
43   37  6      0     299    38  41     40      50      65      65   1
46   40 12      5     435   140  70     45      85      50      45   1
50   44  9     14     395    60  65     70      85      75      40   1
56   50 10      0     265    10  55     25      35      45      95   1
58   52 12      0     290    40  45     35      40      40      90   1
66   60 17      0     300    40  50     40      40      40      90   1
71   65 14      0     500    55  50     45     135      95     120   1
74   67  5      0     405    80 100     70      50      60      45   1
78   71  9     14     490    80 105     65     100      70      70   1
87   80 17     15     490    95  75    110     100      80      30   1
89   81  3     17     325    25  35     70      95      55      45   1
91   83 12      8     352    52  65     55      58      62      60   1
93   85 12      8     460    60 110     70      60      60     100   1
95   87 17     12     475    90  70     80      70      95      70   1
105  96 14      0     328    60  48     45      43      90      42   1
108  99 17      0     475    55 130    115      50      50      75   1
110 101  3      0     480    60  50     70      80      80     140   1
118 109 13      0     340    40  65     95      60      45      35   1
122 113 12      0     450   250   5      5      35     105      50   1
124 115 12      0     490   105  95     80      40      80      90   1
128 118 17      0     320    45  67     60      35      50      63   1
143 131 17     12     535   130  85     80      85      95      60   1
153 141 15     18     495    60 115    105      65      70      80   1
163 150 14      0     680   106 110     90     154      90     130   1
⋮   ⋮   ⋮      ⋮      ⋮     ⋮   ⋮      ⋮       ⋮       ⋮       ⋮     ⋮
661 599 16      0     300    40  55     70      45      60      30   5
662 600 16      0     440    60  80     95      70      85      50   5
663 601 16      0     520    60 100    115      70      85      90   5
665 603  3      0     405    65  85     70      75      70      40   5
666 604  3      0     515    85 115     80     105      80      50   5
667 605 14      0     335    55  55     55      85      55      30   5
668 606 14      0     485    75  75     75     125      95      40   5
671 609  8      7     520    60  55     90     145      90      80   5
673 611  2      0     410    66 117     70      40      50      67   5
683 621  2      0     485    77 120     90      60      90      48   5
696 634  1      3     420    72  85     70      65      70      58   5
697 635  1      3     600    92 105     90     125      90      98   5
698 636  0      7     360    55  85     55      50      55      60   5
702 640  9      6     580    91  90     72      90     129     108   5
711 646  2     12     660   125 130     90     130      90      95   5
715 647 17      6     580    91  72     90     129      90     108   5
717 648 12      6     600   100 128     90      77      77     128   5
718 649  0     17     600    71 120     95     120      95      99   5
731 662  6      8     382    62  73     55      56      52      84   6
732 663  6      8     499    78  81     71      74      69     126   6
733 664  0      0     200    38  35     40      27      25      35   6
749 679 16      9     325    45  80    100      35      37      28   6
752 681 16      9     520    60  50    150      50     150      60   6
760 689 15     18     500    72 105    115      54      86      68   6
765 694  3     13     289    44  38     33      61      43      70   6
769 698 15     12     362    77  59     50      67      63      46   6
789 712 11      0     304    55  69     85      32      35      28   6
794 717  1      8     680   126 131     95     131      98      99   6
799 720 14      2     680    80 160     60     170     130      80   6
800 721  6     18     600    80 110    120     130      90      70   6
    name_count long_name
3    8         1
4   20         2
7    9         1
19   8         1
27   7         1
35   8         1
43   6         1
46  10         2
50   5         1
56   7         1
58   6         1
66   7         1
71   8         1
74   7         1
78  10         2
87   7         1
89   9         1
91  10         2
93   6         1
95   7         1
105  7         1
108  7         1
110  9         1
118  7         1
122  7         1
124 10         2
128  7         1
143  6         1
153  8         1
163  6         1
⋮   ⋮          ⋮
661  5         1
662  5         1
663  9         1
665  9         1
666 10         2
667  6         1
668  8         1
671 10         2
673  7         1
683  9         1
696  8         1
697  9         1
698  8         1
702  8         1
711  6         1
715 19         2
717 22         2
718  8         1
731 11         2
732 10         2
733 10         2
749  7         1
752 20         2
760 10         2
765 10         2
769  6         1
789  8         1
794  7         1
799 17         2
800  9         1

In [55]:
install.packages("e1071")
library(e1071)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [61]:
# Create a Gaussian Naive Bayes classifier and make predictions
nb_model <- naiveBayes(Legendary ~ ., data = df, laplace = 0)
nb_pred <- predict(nb_model, newdata = X_test)

# Display the predictions
print(nb_pred)

  [1] 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 1 1 1 1 1 1
 [38] 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 2 1 1 2 1 1 1 1 1 1 1 1 2 1 1
 [75] 2 1 1 1 1 1 2 1 2 2 2 2 2 1 1 1 1 1 1 1 1 1 1 1 2 2 1 1 1 2 1 1 2 1 1 2 2
[112] 2 2 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 2 2 2 2 2
[149] 1 1 1 1 2 1 1 1 1 2 2 2
Levels: 1 2

In [65]:
# Calculate confusion matrix
conf_matrix <- table(Actual = Y_test, Predicted = nb_pred)
print(conf_matrix)

      Predicted
Actual   1   2
     1 126  18
     2   0  16