In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv("./lung_cancer_examples.csv")

In [4]:
df

           Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0

In [7]:
df.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [9]:
X = df.drop(['Name','Surname','Result'], axis=1)  # Features
y = df["Result"]  # Target

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [11]:
# Using Standardization from scikit-learn
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)  # Same scaler for consistency

In [31]:
pd.DataFrame(X_train_scaled)

           0         1         2         3
0   0.849706  0.598918 -0.844398  0.327547
1   0.663668  0.598918 -0.844398 -0.112302
2  -0.018472 -1.860717  0.358229 -1.431846
3  -1.630803 -0.494253  1.159981 -1.431846
4   0.787694 -0.084314  1.961732 -1.431846
5   1.407821 -1.587424 -0.042646  1.207243
6  -1.196714 -0.357606  0.358229 -0.991998
7   1.717884 -0.767546  0.759105  1.207243
8  -0.576586 -0.357606 -0.042646 -0.552150
9  -0.204510 -0.494253  0.358229 -0.552150
10 -0.390548 -0.084314  0.759105 -0.552150
11  1.965935  0.598918 -0.042646  0.327547
12 -0.390548  0.325625  1.159981 -0.991998
13  0.415617  0.325625 -0.443522  0.767395
14 -0.700612 -0.494253  1.159981 -1.431846
15 -0.514574 -0.084314  0.358229 -0.552150
16 -0.204510  0.872211 -0.844398  0.767395
17  1.965935 -1.724070 -1.245273  1.207243
18  1.035744  1.282150 -0.844398  0.327547
19  1.841910 -0.084314 -0.844398  0.767395
20  0.105554 -0.494253  1.159981 -1.431846
21 -1.692815 -0.767546  0.358229 -0.112302
22  0.105554 -0.084314 -1.646149  2.086939
23 -1.196714  2.511968 -1.646149  2.086939
24  0.291592  0.598918 -1.245273  0.327547
25  1.035744 -0.084314 -0.042646  0.767395
26 -0.328535  0.598918 -1.245273  1.647091
27  1.097757  0.598918 -0.443522  0.767395
28 -1.134701  0.598918 -1.245273  0.767395
29 -0.762625 -1.040838  1.159981 -0.991998
30 -0.948663 -2.134009 -0.042646 -0.552150
31 -0.886650  0.598918  1.560856  0.327547
32 -0.514574 -0.767546 -0.042646 -0.112302
33 -1.258726  0.598918  1.159981 -0.552150
34 -0.080485 -1.450778  1.159981 -0.991998
35  0.477630  0.598918  0.358229 -0.112302
36 -0.762625 -1.587424  1.159981 -1.431846
37 -1.444765  0.598918  0.358229 -0.552150
38  1.035744 -1.450778 -0.443522 -0.112302
39  0.353604  1.282150  1.560856 -1.431846
40  0.601655 -0.084314 -1.646149 -0.112302
41 -1.444765 -0.494253 -0.042646 -0.552150
42  1.469834  0.598918 -0.042646  0.327547
43 -0.700612  1.282150 -0.443522  2.086939
44  0.601655  0.598918 -1.646149  0.327547
45 -0.080485  1.965382 -1.646149  1.207243
46 -0.762625  1.282150  1.159981 -0.552150

In [32]:
model = LogisticRegression()  # Example
model.fit(X_train_scaled, y_train)

LogisticRegression()

In [33]:
y_pred = model.predict(X_test_scaled)

In [34]:
y_test = pd.Series(y_test)  # Convert y_test to a pandas Series if it's not already

In [35]:
print(y_pred)
print(list(y_test))

[0 0 0 1 0 0 1 0 0 0 1 0]
[1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0]

In [36]:
results_df = pd.DataFrame({'prediction': y_pred, 'test_label': y_test})
results_df # Display the first few rows

    prediction  test_label
0            0           1
1            0           0
2            0           0
3            1           1
4            0           0
5            0           0
6            1           1
7            0           0
8            0           0
9            0           0
10           1           1
11           0           0

In [37]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9166666666666666

In [38]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[8, 0],
       [1, 3]], dtype=int64)